{% load humanize %}
<html>
<head>
<title>Echoes of the Labyrinth {{numbers_and_dates}}</title>
<link rel="stylesheet" href="/static/echoes.css">
</head>
<div class="frontpage">
<h1 class="title">Echoes of the Labyrinth</h1>

<p>{{ numbers_and_dates }}</p>

<p>A collection of notes on the experience of Pure Liao Visionaries, collected by

<p class=author>{{ front_page_credits.0 }}</p>
{% if front_page_credits|length > 1 %}<p> and </p>{% endif %}
{% for credit in front_page_credits|slice:"1:" %}<p class=author>{{ credit }}</p>{% endfor %}

<p>by the direction and authority of the Council of Nine.</p>

<p>Spider’s Vantage Press</p>
</div>

<hr>

<p>[Interior text follows.
--Things like this-- or -Things like this- are headings.]</p>

{% for credit in contributor_credits %}
<p>{{credit}}</p>
{% endfor %}

<p>Information contained here is incomplete; future editions of this pamphlet may contain more information as the authors consult again with the visionaries and their guides, particularly for the information returned to visionaries by the Civil Service as a result of their inquiries.</p>

<p>These notes were taken from verbal testimonies of witnessed events, so spellings and exact pronunciations of names should not be considered definitive.</p>

{% for volume in volumes %}
<hr>

<h2 class=volume_date>{{ volume.volume_date }}</h2> {# should be "Winter Solstice, 381 YE" #}

<h3>Introduction</h3>

<p>{{ volume.list_of_visions|length|apnumber|title }} visionar{{ volume.list_of_visions|length|pluralize:"y,ies" }} experienced {{volume.list_of_visions|length|pluralize:"a vision,visions"}} induced by Pure Liao at the {{ volume.festival_type}}.</p>

<p>Following their visions, the visionaries and their accompanying guides were questioned by the authors. Their stories are recorded in the following pages, in the order that the visions were received.</p>

<ul>
{% for vision in volume.list_of_visions %} <li>{{ vision.visionary|safe }}, accompanied by {{ vision.guide|safe }}</li>
{% endfor %}
</ul>
{% for vision in volume.list_of_visions%}
{% include "rich_text_vision.html" with vision=vision %}

{% endfor %}{% endfor %}
</html>