<h3 class=visionary>{{ vision.visionary|safe }}</h3>
<p class=guide>Accompanied by {{ vision.guide|safe }}</p>


{% if vision.dose_origin %}
  <p>{{vision.dose_origin}}</p>
{% endif %}

{% if vision.ready_to_publish %} 
{% for paragraph in vision.list_account %}
  <p>{{paragraph}}</p>
{% endfor %}

{% if vision.soul_status %}
  <p>{{vision.soul_status}}</p>
{% endif %}

{% if vision.ritual_status %}
  <p>{{vision.ritual_status}}</p>
{% endif %}

{% if self.commentary %}
  <p>{{self.commentary}}</p>
{% endif %}

{% else %} {# vision not ready to publish #}
The visionary has not granted permission to publish this account.
{% endif %}